.custom-table-header .ant-table-thead > tr > th {
  background-color:#4eb24e !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}
.custom-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.custom-table-header .ant-table {
  min-width: 100%;
}

